
#container{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

}
#etchBody{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    border-left: 65px solid rgb(255, 93, 93);
    border-right: 65px solid rgb(255, 93, 93);
    border-top: 14px solid rgb(255, 93, 93);
    background-color: rgb(255, 93, 93);
}

#etchBox{
    display: flex;
    flex-flow: column nowrap;
    width: 350px;
    height: 350px;
}
#title{
    font-family: 'Galada', cursive;
    font-size: 4em;
    margin: 0px 0px;
    background-color: rgb(255, 93, 93);
    color: rgb(255, 237, 134);
}
.column-style{
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.cellStyle{
    flex-grow: 1;
    padding: 1px;
    background-color: white;
}
#circleStyle{
    display: flex;
    justify-content: space-between;
    width: 480px;
    background-color: rgb(255, 93, 93);
    padding-bottom: 5px;
}
.circle{
    background-color: white;
    border-radius: 50%;
    padding: 35px;
    margin-left: 10px;
    margin-right: 10px;
}

#menu{
    margin-top: 10px;
    display: flex;
    width: 480px;
    justify-content: space-evenly;
    font-family: 'Galada', cursive;
}

#pixelColor{
    padding: 0px 15px;
}

#reset{
    font-family: 'Galada', cursive;
    border: 1px solid black;
    padding: 1px 5px;
}

#reset:hover{
    cursor: pointer;
}
